main {
  background-color: #116aa5;
  height: 50%;
  margin: auto;
  margin-top: 15%;
  text-align: center;
  width: 40%;
  padding: 50px;
  border-radius: 30px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px;
}

input {
  border: none;
  border-radius: 15px;
  font-size: 18px;
  font-weight: 600;
  color: #090884;
  padding: 7px;
  margin: 5px;
  width: 275px;
}

.submit-button {
  background-color: #090884;
  border-color: #090884;
  border-radius: 15px;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  margin: 10px;
  width: 30%;
  padding: 10px;
}

.submit-button:hover {
  background-color: #ffffff;
  border: 1px solid #090884;
  color: #090884;
}

/* CSS code partially inspired by this resource: https://alvarotrigo.com/blog/css-alerts/ */

.content {
  padding: 0;
  margin: 10% 15%;
}

.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.2;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.5;
}

button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

.alert {
  border: 1px solid transparent;
  border-radius: 15px;
  font-size: 20px;
  margin-bottom: 20px;
  padding: 15px;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}

.alert-danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

.alert-white {
  background-image: linear-gradient(to bottom, #ffffff, #f9f9f9);
  border-top-color: #d8d8d8;
  border-bottom-color: #bdbdbd;
  border-left-color: #cacaca;
  border-right-color: #cacaca;
  color: #404040;
  padding-left: 61px;
  position: relative;
}

.alert-white .icon {
  text-align: center;
  width: 45px;
  height: 100%;
  position: absolute;
  top: -1px;
  left: -1px;
  border: 1px solid #bdbdbd;
}

.alert-white .icon:after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  display: block;
  content: '';
  width: 10px;
  height: 10px;
  border: 1px solid #bdbdbd;
  position: absolute;
  border-left: 0;
  border-bottom: 0;
  top: 50%;
  right: -6px;
  margin-top: -5px;
  background: #fff;
}

.alert-white.rounded {
  border-radius: 5px;
  -webkit-border-radius: 5px;
}

.alert-white.rounded .icon {
  border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
}

.alert-white .icon i {
  font-size: 20px;
  color: #fff;
  left: 12px;
  margin-top: -10px;
  position: absolute;
  top: 50%;
}

.alert-white.alert-danger .icon,
.alert-white.alert-danger .icon:after {
  border-color: #ca452e;
  background: #da4932;
}

.alert-white.alert-success .icon,
.alert-white.alert-success .icon:after {
  border-color: #54a754;
  background: #60c060;
}
