@import url('https://fonts.googleapis.com/css2?family=Anton&family=Epilogue:wght@100;400&family=Gabarito:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background: #e9f0f4;
  font-family: Gabarito;
  height: 100vh;
  line-height: normal;
  margin: 0;
  width: 100vw;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
